.background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(217, 248, 232);
}

.navbarSpacer {
    height: 70px;
    width: 100%;
}

.mainContent {
    width: 60%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.header {
    background-color: rgb(219, 238, 245);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid rgb(133, 178, 238) 1px;
}

.peepsContainer {
    border-radius: 10px;
    padding-top: 10px;
    background-color: white;
    border: solid rgb(226, 222, 222) 1px;
}