body {
    background-color: rgb(217, 248, 232);
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-size: calc(18px + 0.5vw);
}

h2 {
    font-size: calc(16px + 0.5vw);
}

h4 {
    font-size: calc(12px + 0.5vw);
}

p {
    font-size: calc(10px + 0.5vw);
}

.formButton {
    background-color: #10d48e;
    border-color:rgb(71, 112, 167);
    font-size: calc(10px + 0.5vw);
    margin: 10px;
}

.textInput {
    font-size: calc(10px + 0.5vw);
    margin-bottom: 15px;
    margin-top: 15px;
}