body {
    background-color: rgb(217, 248, 232);
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-size: 3.5vw;
}

h2 {
    font-size: 3vw;
}

h4 {
    font-size: 2vw;
}

p {
    font-size: 1vw;
}

.formButton {
    background-color: #10d48e;
    border-color:rgb(71, 112, 167);
    font-size: 1.5vw;
    margin: 10px;
}

.textInput {
    font-size: 1.5vw;
    margin-bottom: 15px;
    margin-top: 15px;
}